In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kiran\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kiran\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kiran\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kiran\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kiran\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
import time
import requests
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

 A) Rank
 
 B) Name
 
 C) Artist
 
 D) Upload date
 
 E) Views

In [15]:
# first, connect to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
# getting the webpage of mentioned url
url = ('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [17]:
# creating empty list for scraping the data

Rank = []
Name = []
Artist = []
Date = []
Views = []

In [20]:
#scraping rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [21]:
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [22]:
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [23]:
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
       Date.append("-")

In [24]:
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [26]:
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
3,4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.00
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.89
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
10,11.,Gangnam Style,Psy,"July 15, 2012",4.80
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.91
14,15.,Sugar,Maroon 5,"January 14, 2015",3.87
15,16.,Roar,Katy Perry,"September 5, 2013",3.80
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.79
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.66
18,19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.52
22,23.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
23,24.,Faded,Alan Walker,"December 3, 2015",3.45
24,25.,Perfect,Ed Sheeran,"November 9, 2017",3.45
25,26.,Let Her Go,Passenger,"July 25, 2012",3.44
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.42
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,Lean On,Major Lazer,"March 22, 2015",3.38
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.38

In [27]:
print(len(Rank),
len(Name),
len(Artist),
len(Date),
len(Views))

30 30 30 30 30

In [28]:
driver.close()

# - 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1stODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [106]:
# connecting to the webdriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [107]:
#getting the webpage that is required
url=('https://www.bcci.tv/')
driver.get (url)

In [108]:
# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [109]:
for i in driver.find_elements(By.XPATH,"//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    Match_Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
        
for i in driver.find_elements(By.XPATH,"//span[@class='fixture__datetime tablet-only']/strong[1]"):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

In [110]:
# creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

Empty DataFrame
Columns: [Match Title, Series, Place, Date, Time]
Index: []

In [111]:
len(url)

20

In [112]:
driver.close()

 # 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [113]:
#connecting to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [114]:
url=('http://statisticstimes.com/ ')
driver.get(url)

In [115]:
#Clicking on economy section
economy = driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]//button').click()

urls = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]')
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)

In [116]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [117]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

#Scraping data of rank
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
    State.append(i.text)

    
# Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (17-18)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[4]'):
    GSDP_2.append(i.text)

    
#Scraping data of Share(2017)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
    GDP.append(i.text)

In [118]:
#DataFraming
data=list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))

In [119]:
df=pd.DataFrame(data,columns=['Rank','Indian_State','GSDP(19-20)','GSDP(18-19)','Share','GDP'])

In [120]:
df

   Rank               Indian_State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

In [121]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com. 

Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used


Note: - From the home page you have to click on the trending option from Explore menu through code.

In [122]:
#connecting to the webdriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [123]:
url=(' https://github.com/')
driver.get(url)
time.sleep(2)

In [124]:
#Getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")

#Selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details"}
  (Session info: chrome=113.0.5672.127)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00778893+48451]
	(No symbol) [0x0070B8A1]
	(No symbol) [0x00615058]
	(No symbol) [0x00640467]
	(No symbol) [0x0064069B]
	(No symbol) [0x0066DD92]
	(No symbol) [0x0065A304]
	(No symbol) [0x0066C482]
	(No symbol) [0x0065A0B6]
	(No symbol) [0x00637E08]
	(No symbol) [0x00638F2D]
	GetHandleVerifier [0x009D8E3A+2540266]
	GetHandleVerifier [0x00A18959+2801161]
	GetHandleVerifier [0x00A1295C+2776588]
	GetHandleVerifier [0x00802280+612144]
	(No symbol) [0x00714F6C]
	(No symbol) [0x007111D8]
	(No symbol) [0x007112BB]
	(No symbol) [0x00704857]
	BaseThreadInitThunk [0x74CC6739+25]
	RtlGetFullPathName_UEx [0x76F88E7F+1215]
	RtlGetFullPathName_UEx [0x76F88E4D+1165]

In [125]:
# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

In [126]:
#scraping repositories urls
repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2)    
    
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
time.sleep(3)
for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
     #scraping repositories discription
    try:          
        repo_desc.append(driver.find_element(By.XPATH,"/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p").text)
    except:
        repo_desc.append('-')
    
    #scraping contributors count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)   
    
time.sleep(2)

In [127]:
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

Empty DataFrame
Columns: [Title, Description, Contributors_count, Language_used]
Index: []

In [128]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [129]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")  
time.sleep(2)

In [130]:
url=('https:/www.billboard.com/')
driver.get(url)

In [131]:
#Clicking on charts
driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a").click()

In [132]:
#Creating empty list
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [133]:
#scraping song names
try:
    names=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//h3')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:       
    Name.append('No details available')
time.sleep(2)    
Name[::4][:100]

[]

In [134]:
#scraping artist names
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:     
    Artist.append('-')
time.sleep(2)    
Artist[::7][:100]

[]

In [135]:
#scraping last week rank of the song
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in last_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:      
    Last_week_rank.append('-')
    time.sleep(2)    
Last_week_rank[::2][:100]

[]

In [136]:
#scraping song's peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:       
    Peak_rank.append('-')
time.sleep(2)    
Peak_rank[1::2][:100]

[]

In [137]:
# scraping number of weeks on board
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in weeks:
        Weeks_on_board.append(i.text)
except NoSuchElementException:       #handling no such element exception
    Weeks_on_board.append('-')
time.sleep(2)    
Weeks_on_board[1::2][:100]

[]

In [138]:
df=pd.DataFrame({'Song_Name':Name[::4][:100],
                'Artist_Name':Artist[::7][:100],
                'Last_week_rank':Last_week_rank[::2][:100],
                'Peak':Peak_rank[1::2][:100],
                'Weeks_on_chart':Weeks_on_board[1::2][:100]})
df

Empty DataFrame
Columns: [Song_Name, Artist_Name, Last_week_rank, Peak, Weeks_on_chart]
Index: []

In [139]:
driver.close()

# 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [58]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [59]:
#Creating empty list
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [60]:
#scraping data of book names
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [61]:
#DATA FRAMEING
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [62]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [63]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the imdb.com
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

In [64]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [65]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [66]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,163,377"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,243,199"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,704"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,304"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,418"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,692"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,735"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,730"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,226"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,372"

In [67]:
driver.close()

# 8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [140]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the uci.com
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [141]:
#Finding view all dataset button
view_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

#Getting page urls containing list of all datasets
all_lst = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

#fetching url for each dataset
data_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [142]:
#table view
table = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a')
table.click()

In [143]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [ ]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
        #Scraping Attribute type
    try:
        atype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    #Scraping No of instances
    try:
        inst = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    #scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [ ]:
#DATA FRAMEING
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year
UCI

In [ ]:
driver.close()

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 

A) Name

B) Designation

C)Company 

D)Skills they hire for 

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through cod

In [92]:
# connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

time.sleep(2)

# Connecting the website
url = " https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)
time.sleep(2)

In [93]:
#clicking on recruiters link
recruiters=driver.find_element(By.XPATH,"//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

In [94]:
#accesing search bar
search=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

In [95]:
#clicking on search button
button=driver.find_element(By.XPATH,"//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

In [96]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [97]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


#Scraping data of Designation

for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
    

#Scraping data of company name

for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

    
#Scraping data of locations

for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

In [98]:
print(len(Name),len(Designation),len(Company),len(Location))

50 50 50 149

In [99]:
# Creating dataframe 
Naukri=pd.DataFrame({})

Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Location
0,Aakash Harit,HR Manager,Data Science Network,Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Anik Agrawal
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Company Recruiter
11,Mubarak,Company HR,MoneyTap,Ahmedabad
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,subhas patel
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Founder CEO
14,Kapil Devang,HR Manager,BISP Solutions,UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Abhishek - Only Analytics Hiring - India and
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Recruitment Lead Consultant
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Vadodara / Baroda
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,Trivandrum
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Asif Lucknowi
25,Shaun Rao,Manager Human Resources,Exela Technologies,Director
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,Indore
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,InstaFinancials
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Human Resource
29,kumar,Proprietor,trainin,Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,Kalpana Dumpala
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Executive Hiring
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,Hyderabad / Secunderabad
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,Mubarak
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Company HR
35,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Bengaluru / Bangalore
36,Avodha,Business Development Associate,Nikitha Palaparthi,Kushal Rastogi
37,Priya Khare,Senior Manager,Independent Consultant,Company HR
38,Amit Sharma,Consultant,ASCO consulting,Mumbai
39,Kanan,senior technology instructor,NY INST,Priyanka Akiri
40,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,HR Manager
41,Brad,"Manager, Technical Recruiting",O.C. Tanner,Hyderabad
42,Rutuja Pawar,Technical Recruiter,Demand Matrix,Kapil Devang
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,HR Manager
44,Ankit Sinha,Head Analytics,Suntech Global,Bhopal
45,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Mahesh Babu Channa
46,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,HR Team Lead
47,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad
48,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Vaishnavi Kudalkar
49,Rajani Nagaraj,HR Manager,WildJasmine,HR Executive

In [100]:
driver.close()